AlignAfterOpenBracket: Align
AlignEscapedNewlinesLeft: true
AlignTrailingComments: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: false
AlwaysBreakAfterReturnType: TopLevelDefinitions
BasedOnStyle: WebKit
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
ColumnLimit: 80
ExperimentalAutoDetectBinPacking: false
IndentWidth: 2
MaxEmptyLinesToKeep: 2
PointerAlignment: Right
SortIncludes: false
SpacesInContainerLiterals: false
UseTab: Never
